<!DOCTYPE html>
<html>
<head>
	<title>Portfolio 3</title>
    <link rel="stylesheet" type="text/css" href="view.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	<div id="input" ng-app="githubScrub" >
        <div ng-controller="controller1">
        <form id="form" name="form" ng-hide="name"><center>
            <div>
                <label id="label">Github Username:</label>
            </div>
            <div>
                <input type="text" id="nameInput" placeholder="Enter Username" ng-model="user"/>
            </div>

            <div>
                <button id="submit" value="Submit" ng-click="submit(user)">submit</button>
            </div></center>
        </form>
        <div class="main" ng-show="name">
             <h1><center>Welcome {{givenName}}!</center></h1>
             <div class="getRepo">
                <button class="hideShit" ng-click="hideRepos()">^</button>
                 <button ng-click="getRepos()">Get Repos</button><br>
                 <span ng-show="repoListed" ng-repeat="repo in repos">
                    <button class="repoButton" ng-click="assignRepo(repo.name)">{{repo.name}}</button>
                    <br>
                </span>
            </div>
            <div class="repoDetail" ng-show="currentRepo">
                <h2>Repo: {{currentRepo}}</h2>
                <div>
                    <button class="hideShit" ng-click="hideIssues()">^</button>
                    <button ng-click="getIssue()">View Issues of {{currentRepo}}</button>
                        <span ng-show="issueListed" ng-repeat="issue in issues">
                            <div class="issueList">{{issue.title}}
                                <button class="repoButton" ng-click="resolveIssue(issue.html_url)">Resolve</button>
                            </div>
                            <br>
                        </span>
                </div>
                <div>
                    <button class="hideShit" ng-click="hideCommits()">^</button>
                    <button ng-click="getRepoCommits()">View Commits of {{currentRepo}}</button>
                        <span ng-show="commitListed" ng-repeat="com in commits">
                            <div>
                                {{com.commit.message}}
                            </div>
                            <br>
                        </span>
                </div>
                <div>
                    <button class="hideShit" ng-click="hideAdditions()">^</button>
                    <button ng-click="getAdditions()">View Weekly Additions and Deletions</button>
                        <span ng-show="additionsListed">
                            <br>
                            Additions: {{additions}}  <progress value={{additions}} max="1000"></progress>
                            <br>
                            Deletions: {{deletions}}  <progress value={{deletions}} max="1000"></progress>
                        </span>

                </div>
            </div>

        </div>

        </div>
    </div>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
