button{
        border-radius: 8px;
        padding: 15px 32px;
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        border: 3px;
        color: black;
        align-content: center;
        font-family: arial;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

h1{
    align-items: center;
    font-family: arial;
}

h2{
    font-family: arial;
}

.getRepo{
    float:left;
    margin-right:20px;
}
.repoDetail{
    float: left;
    margin-bottom: 20px;
}

#label{
    float: left;
    margin-left: 5px;
    font-family: arial;
}

#form {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#nameInput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main{
    margin: 50px 200px;
}

.repoButton{
    font-size: 12px;
    padding:10px 10px;
    margin-left: 20px;
    margin-top: 5px;
}

.hideShit{
    border-radius: 8px;
    padding: 10px 10px;
}

.issueList{
    margin-left: 15px;
    margin-top: 15px;
    font-family: arial;
    font-size: 14px;
}
