button{
        border-radius: 8px;
        padding: 15px 32px;
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        color: white;
        align-content: center;
    }

h1{
    align-content: center;
    font-family: cambria;
}

.form {
    align-content: center;
}
